---
import MainLayout from "../layouts/MainLayout.astro"
const url = new URL(Astro.request.url);
const redirectPage = url.toString().replace(url.pathname, `/posts${url.pathname}`);
---
<MainLayout title="404" description="なんかしらの日記のようなものを綴るブログ">
  <h2>404 page not found.</h2>
  こちらのURLにあるかもしれません <a href={redirectPage}>{ redirectPage }</a>
</MainLayout>

<style>
  h2.description {
    margin-bottom: 2.5rem;
  }
</style>
