---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro';
import dayjs from 'dayjs';

let title = 'Archives'
let description = '月別アーカイブ'
// Data Fetching: List all Markdown posts in the repo.
const allPosts = await Astro.glob('./posts/*.md');
const months = [...new Set(allPosts.sort((a: any, b: any) => {
  return new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
}).map(post => dayjs(post.frontmatter.pubDate).format('YYYY-MM')))];
---
<MainLayout title={ title } description={ description }>
    <h1 class="font-size-3">Archives</h1>
    <ul>
     {months.map((month) => (
        <li class="post-preview"><a href={`/archives/${month}`} title={dayjs(month).format('YYYY年MM月')}>{dayjs(month).format('YYYY年MM月')}</a></li>
    ))}
    </ul>
</MainLayout>
