---
import dayjs from 'dayjs';
import TagsInline from './TagsInline.astro';
export interface Props {
	title: string;
	tags: string[];
	pubDate: string;
	url: string;
}

const { title, tags, pubDate, url } = Astro.props as Props;
const date = dayjs(pubDate);
---

<article class="post-preview">
	<div class="flex">
		<time>{date.format('YYYY-MM-DD')}</time>
		<TagsInline tags={tags} />
		<a href={url}><h3 class="title">{title}</h3></a>
	</div>
</article>

<style>
	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	.title,
	time {
		margin: 0;
	}

	time {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
