---
import dayjs from "dayjs";
export interface Props {
  title: string;
  pubDate: string;
  url: string;
}

const { title, pubDate, url } = Astro.props as Props;
const date = dayjs(pubDate);
---

<li class="post-preview">
  <time>{date.format("YYYY-MM-DD")}</time>
  <a href={url}>{title}</a>
</li>
