<footer role="contentinfo" class="wrapper flex-container">
  <div></div>
  <div class="footer-content">
    <p class="flex-container">
      <img class="u-photo" src="/assets/onigiri.png" /><a href="https://stoicism.gunjobiyori.com/" class="h-card" rel="me">@euro_s</a>
    </p>
  </div>
</footer>

<style>
.flex-container {
    display: flex;
    align-items: center; /* 要素を中央に配置 */
    gap: 0 !important;
}

.flex-container > img.u-photo {
    margin-right: 10px; /* 右の余白を追加して画像とテキストの間にスペースを作る */
}
</style>
