<footer role="contentinfo" class="wrapper flex-container">
  <div></div>
  <div class="footer-content">
    <p>
      <small class="font-size--1 meta-information">By @euro_s</small>
    </p>
  </div>
</footer>
